/*Label*/
.etiqueta{
    color: rgb(134,141,159);
    font-size: 16px;
    padding-left: 2%;
}
/*Contenedor ion-content*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/*Contenedor de la imagen*/
.header{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    align-self: flex-start;
    text-align: justify;
    margin-bottom: 5%;
    
}
/*Información sobre el prestamo*/
.informacion{
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5%;
    color: #364b69;
}


/*Form*/
.formulario{
  
    margin-left: 35%;
    margin-right: 35%;
  
}
/*Img*/
.avatar{
 
    width: 150px;
    height: 35px;
   
}
/*Información, título*/
.informacion,h2{
    align-self: flex-start;
    text-align: justify;
    font-weight: bold;
}
/*Información texto adicional*/
h4{
    align-self: flex-start;
    text-align: justify;
}
/*Botón*/
.boton{
    margin-bottom: 20px;
}

.in{
        border-bottom: 1px solid #b3b4b6;
        margin-bottom: 15px;
        padding: inherit;
    }
    

