<ion-content class="container">
    
  <!--
    Se agrega imagen de error en la página, adicional un mensaje informando que el usuario no existe.


    icono obtenido de:
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>-->
  
    <img class="img_error" src="../../assets/icon/404.png" alt="">

  <h1>OOPS!</h1>
  <h3>El usuario ingresado no existe.</h3>
  <h5>No te preocupes, esto puede pasarle hasta al mejor de nosotros. <a href=""> Registrate</a> para obtener todos los beneficios que tenemos para ti.</h5>

</ion-content>