.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.img_error{
    margin-top: 50px;
}

h1 {
    font-weight: bolder;
    color: #4d515b;
}